.prueba{
    color: blue;
}
.btn-card{
    background-color: rgb(10, 81, 94);
    color: white;
}
.card-body{
    background-color: rgb(200, 212, 212);
}
.card{
    width: 16rem;
}
.greed-bootstrap{
    background-color: beige;
}
.greed-bootstrap div{
    border: 1px solid black;
}
.color-nav{
    background-color: crimson;
    font-weight: 900;
}
/* cambia color al desplegar */
.color.accordion{
    background-color: rgba(45, 45, 247, 0.425);
}
.negrita{
    font-weight: 900;
}